.likeIcon {
width:50%;
height:30px;
background:url(./images/182.svg)no-repeat;
background-size: 30px;
background-position:left;
float: left;
}

.likeIconGrey {
    width:50%;
    height:30px;
    background:url(./images/133.svg)no-repeat;
    background-size: 30px;
    background-position:left;
    float:left;
    }
    .bliName{    position: absolute;
        bottom: 50px;
        text-align: center;
        width: 92%;
        height:40px;
        color: #fff;}

